<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de mí</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>

<body>
    <!-- Sección inicial con fondo negro y wave -->
    <section class="about-container">
        <div class="about-header">
            <h2>Hola mi nombre es Brandon Alonso Salinas</h2>
            <div class="about-image">
                <img src="https://avatars.githubusercontent.com/u/137954790?s=96&v=4" alt="Foto chida del programador">
            </div>
            <!-- <p>Innovando en cada línea de código. </p> --> <br>
            <p> Estudiante de Ingeniería en Desarrollo de Software e Ilustrador digital en mi tiempo libre</p>

        </div>
    </section>

    <section class="details-container">
        <div class="card">
            <h3>Habilidades y Tecnologías</h3>
            <p>Desarrollo con 
                Angular, 
                Node.js, 
                Flutter, 
                Firebase, 
                git
                docker.</p>
            <p>Conocimientos en Bases de datos</p>
            <p>Trabajo en equipo</p>

            <h3>Objetivos</h3>
            <p>Trabajar como desarrollador de viedeojugos o en la creacion de cosas que ayuden a los demas</p>

            <h3>📞 Contacto</h3>
            <p>Email: brandonalonsosalinas&commat;gmail.com</p>
            <p>GitHub: <a rel="noopener" href="https://github.com/TheGeru"
                    target="_blank">github.com/TheGeru</a></p>
        </div>
    </section>
</body>

</html>